<div
    class="intro">
    <p
        class="intro_title">Welcome to the official band page of:</p>
    <img
        alt=""
        class="intro_logo_img"
        src="../assets/logo3i.png">
    <p
        class="intro_message">Check out some our performances below</p>
</div>
<div
    class="section">
    <p
        class="section_header">Videos:</p>
    <div
        class="section_content">
        <div
            *ngFor="let video of videos"
            class="section_content_video">
            <p
                class="section_content_video_title">{{video.display_name}}</p>
            <iframe
                allowfullscreen
                class="section_content_video_src"
                frameborder="0"
                [src]="video.source | safe"></iframe>
        </div>
    </div>
</div>
<div
    class="footer">
    <p
        class="footer_copy">&copy; Prototype {{year}}</p>
    <div
        class="footer_social">
        <a
            class="fa fa-facebook"
            href="https://www.facebook.com/prototypebandnz"></a>
        <a
            class="fa fa-youtube"
            href="https://www.youtube.com/channel/UCw_uaZtXZBD76dvaEQ3nMtg"></a>
        <a
            class="fa fa-envelope"
            href="mailto:prototype.band.nz@gmail.com"></a>
    </div>
</div>