<div
    class="intro">
    <p
        class="intro_title">Welcome to the official band page of:</p>
    <img
        alt=""
        class="intro_logo_img"
        src="../assets/logo_white.png">
    <p
        class="intro_message">Check out some our performances below</p>
</div>
<div
    class="section">
    <p
        class="section_header">Videos:</p>
    <div
        class="section_content">
        <div
            *ngFor="let video of videos"
            class="section_content_video">
            <p
                class="section_content_video_title">{{video.display_name}}</p>
            <iframe
                [src]="video.source | safe"
                allowfullscreen
                class="section_content_video_src"
                frameborder="0"></iframe>
        </div>
    </div>
</div>
<div
    class="footer">
    <p
        class="footer_copy">&copy; Prototype {{year}}</p>
    <div
        class="footer_social">
        <a
            href="https://www.facebook.com/prototypebandnz"
            target="_blank">
            <fa-icon
                [icon]="faFacebook"
                class="facebook">
            </fa-icon>
        </a>
        <a
            href="https://www.youtube.com/channel/UCw_uaZtXZBD76dvaEQ3nMtg"
            target="_blank">
            <fa-icon
                [icon]="faYoutube"
                class="youtube">
            </fa-icon>
        </a>
        <a
            href="mailto:prototype.band.nz@gmail.com">
            <fa-icon
                [icon]="faEnvelope"
                class="envelope">
            </fa-icon>
        </a>
    </div>
    <div
        class="footer_tshirt">
        <a
            href="https://prototypeband.printmighty.co.nz/"
            target="_blank">
            <p>Show your support and get a band t-shirt!</p>
            <fa-icon
                [icon]="faTshirt"
                class="tshirt">
            </fa-icon>
        </a>
    </div>
</div>