p {
  font-family: Prototype;
  color: white;
}

.intro {
  text-align: center;
}

.intro_title {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 40px;
}

.intro_logo_img {
  width: 70%;
  max-width: 800px;
  margin-bottom: 30px;
}

.section {
  width: 90%;
  margin: 30px auto 0  auto;
  padding: 0px 10px;
}

.section_header {
  font-size: 18pt;
  margin: 0;
  margin-bottom: 10px;
}

.section_content {
  border-top: 3px dotted white;
  margin-left: 3px;
  padding-top: 10px;
}

.section_content_video {
  display: inline-block;
  padding: 10px;
}

.footer {
  text-align: center;
  margin: 100px auto 0 auto;
  height: 100px;
}

.footer_copy {
  display: inline-block;
}

.footer_social {
  display: inline-block;
  padding-left: 20px;
}

.fa {
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-envelope {
  background: white;
  color: black;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}